@charset "UTF-8";
/* Selcuk Cura 

Twitter: @selcukcura
Email: contact@selcukcura.com
*/

body {
	background: #229cba;
	text-align: center;
	color: #FFF;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}
#circle {
	width: 250px;
	height: 250px;
	margin: 55px auto;
	left: 0;
	right: 0;
	position: absolute;
	border: solid 20px #1a788f;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	background-color: #229cba;
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
 -0-transition: all .2s ease;
	transition: all .2s ease;
}
svg {
	display: block;
	margin: auto;
}
/*seconds*/
#loader {
	fill: #ecff4f; /*yellow to blend with background*/
}
#border {
	fill: #fff;
}
/*hours*/
#hourloader {
	fill: #ff4d80;
}
#hourborder {
	fill: transparent;
}
/*seconds, minutes and hours key*/

#info {
	margin: 350px auto;
	left: 0;
	right: 0;
	position: absolute;
}
.key {
	margin: 50px 0;
}
#time {
	margin-top: 50px;
}
.pink {
	margin-right: 10px;
	padding: 10px 20px;
	background-color: #ff4d80;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
}
.white {
	margin-right: 10px;
	color: #000;
	padding: 10px 20px;
	background-color: #fff;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
}
.blue {
	padding: 10px 20px;
	background-color: #1a788f;
	-webkit-border-radius: 120px;
	-moz-border-radius: 120px;
	border-radius: 120px;
}
#time {
	font-size: 30px;
}
