body {
	background-color: #229cba;
}
#circle {
	width: 250px;
	height: 250px;
	margin: auto;
	margin-top: 100px;
	border: solid 20px #1a788f;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;
	background-color: #229cba;
}
svg {
	display: block;
	margin: auto;
}
/*seconds*/
#loader {
	fill: #ff4d80;
}
#background {
	fill: #000;
}
#border {
	fill: #fff;
}
/*hours*/
#hourloader {
	fill: #ff4d80;
}
#hourborder {
	fill: transparent;
}
